div{
    text-align: center;
}

.container{
    text-align: center;
}

.navbar{
    justify-content: space-between;
    position: fixed;
    width: 90%;
}

.user-info{
    display: flex;
    flex-direction: row;
    gap:2rem;
}

.about{
    margin-top:10%;
}


.head-title{
    text-align: center;
}

.item-list, .item-list-smaller{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}

.item-list{
    max-height: 60vh;
}

.item-list-smaller{
    max-height: 35vh;
}

.item-list span:hover,.item-list-smaller span:hover{
    color:blueviolet;
}

.item{
    cursor: pointer;
}

.item-clicked{
    color:red;
}

.item-declicked{
    color:black;
}

.vm-car{
    height: 10%;
}

.vm-car-photo{
    width: 100%;
    max-height: 100%;
}

.rv-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
}

.rv-section-data{
    display:flex;
    flex-direction: row;
}

.rv-rent-button{
    width: 50%;
    height: 10%;
    margin-bottom:10%;
}

.rv-select-car{
    text-align: center;
}

.photo{
    width:50%;
}

.porta-photo{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.porta-photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.vi-container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vi-container{
    display: flex;
    flex-direction: column;
}

.vi-container div{
    text-align: center;
}

.c-info{
    text-align: center;
}

.loader {
    width: 30vh;
    height: 30vh;
    margin-left:40%;
    color: #F44DE6; 
    border-radius: 50%;
    background:
      linear-gradient(currentColor 0 0),
      linear-gradient(currentColor 0 0),
      linear-gradient(currentColor 0 0);
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    animation: 
      f9-0   1.5s infinite linear alternate,
      f9-0-0 3s   infinite linear alternate;
  }
  .loader::before {
    content:"";
    display:block;
    width:50%;
    height:50%;
    background:currentColor;
    border-top-left-radius: 200px;
    transform:perspective(300px) rotateY(0deg) rotateX(0deg);
    transform-origin: bottom right; 
    animation: f9-1 1.5s infinite linear alternate;
  }
  
  
  @keyframes f9-0 {
    0% ,32.99% {background-position: 0    100%,100% 100%,100% 0}
    33%,65.99% {background-position: 100% 100%,100% 100%,100% 0}
    66%,100%   {background-position: 100% 0   ,100% 0   ,100% 0}
  }
  
  @keyframes f9-0-0 {
    0%,49.99% {transform: scaleX(1)  rotate(0deg)}
    50%,100%  {transform: scaleX(-1) rotate(-90deg)}
  }
  
  
  @keyframes f9-1 {
    16.5%{transform:perspective(150px) rotateX(-90deg)  rotateY(0deg)    rotateX(0deg);filter:grayscale(0.8)}
    33%  {transform:perspective(150px) rotateX(-180deg) rotateY(0deg)    rotateX(0deg)}
    66%  {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)}
    100% {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);filter:grayscale(0.8)}
  }

/* equivale al sm de bootstrap */
@media (max-width:540px){
    .vi-container{
        margin-top: 10%;
    }

    .vi-container div{
        margin-top: 5%;
        margin-left:10%;
    }

    .photo{
        width:100%;
    }

    #contact{
        margin-top:10%;
    }
}