div{
    text-align: center;
}

.container{
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.navbar-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap:2rem;
    height: max-content;
    font-size: 120%;
}

.navbar a{
    margin-top:0;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:4rem;
}

.auth-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
}


.gallery{
    height: fit-content;
}

.about{
    margin-top:10%;
}

.vm-list{
    height: 60vh;
    overflow: scroll;
}

.car-list{
    max-height: 60vh;
    width: fit-content;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto;
}

.micro-item{
    width: 80%;
    height: auto;

}

.micro-item-desc{
    font-size: 1rem;
}

.item-list{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-evenly;
    overflow:scroll;
    /* padding-top: 33%; */
}

.item-list{
    font-weight: 500;
    font-size: 150%;
    max-height: 40%;
}

.item {
    color:#2b2d42;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    display: flex;
    flex-direction: column;
}

.lead{
    font-weight: 500;
    color:#2b2d42;
}
   
.item:hover {
    background-color: #ef233c;
    color:#2b2d42;
}

.item-clicked{
    color:#edf2f4;
    background-color: #2b2d42;
}

.sorting{
    font-weight: 500;
    cursor: pointer;
}

.sorting-clicked{
    font-weight: 700;
    color:#ef233c;
}

.vm-car{
    height: 10%;
}

.vm-car-photo{
    width: 100%;
    max-height: 100%;
}

.rv-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    gap:2rem;
}

.rv-section-data{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection{
    border:0cm;
    margin-left:0%;
    background-color: inherit;
    height: 4rem;
    font-size: 125%;
    font-family: 'Braah One', sans-serif;
    border-radius: 4px;
    color: #ef233c;
}

.keep{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rv-rent-button{
    width: 50%;
    height: 10%;
    margin-bottom:10%;
}

.rv-select-car{
    text-align: center;
}

.photo{
    width:50%;
}

.ros-photo{
    width: 100%;
}

.porta-photo{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.porta-photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.vi-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.vi-container-item{
    display:flex;
    flex-direction: column;
    margin:0;
}

.attr{
    color:#ef233c;
    font-size: 1.5rem;
    font-weight: 600;
}

.loader {
    width:30vh;
    height:30vh;
    margin-left:43%;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#ef233c);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}
  
#contact h3{
    color:#d90429;
}

.advice{
    color:#d90429;
}

.not{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.not input{
    width: 80%;
}

.car-advice{
    font-weight: 600;
    color:#989a9e;
}



/* Hide the default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox-container {
    display: flex;
    gap: 10px;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
    background-color: rgba(16, 16, 16, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    box-shadow: #ca616e 0px 0px 0px 2px;
    background-color: #ef233c;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  .accent{
    color:#ef233c;
}

  .disabled{
    color: #989a9e;
  }

  .next-car-button {
    margin-right: 5%;
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ef233c;
    border: 1px solid transparent;
    align-items: center;
    display: flex;
    font-size: 15px;
  }
  
  .next-car-button:hover {
    background: #2b2d42;
    color:#ef233c;
  }
  
  .next-car-button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  .next-car-button:hover svg {
    fill:#ef233c;
    transform: translateX(5px);
  }
  
  .next-car-button:active {
    transform: scale(0.95);
  }
  
  .car-brand{
    font-size: 300%;
    font-weight: 800;
    color:#ef233c;
    margin-right: 5%;
  }

  .car-model{
    font-size: 300%;
    font-weight: 500;
    color:#2b2d42;
  }

  .links{
    display: flex;
    justify-content: center;
  }

  .links img {
    width: 55%;
  }
  
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
  }
  
  @keyframes f9-0 {
    0% ,32.99% {background-position: 0    100%,100% 100%,100% 0}
    33%,65.99% {background-position: 100% 100%,100% 100%,100% 0}
    66%,100%   {background-position: 100% 0   ,100% 0   ,100% 0}
  }
  
  @keyframes f9-0-0 {
    0%,49.99% {transform: scaleX(1)  rotate(0deg)}
    50%,100%  {transform: scaleX(-1) rotate(-90deg)}
  }
  
  
  @keyframes f9-1 {
    16.5%{transform:perspective(150px) rotateX(-90deg)  rotateY(0deg)    rotateX(0deg);filter:grayscale(0.8)}
    33%  {transform:perspective(150px) rotateX(-180deg) rotateY(0deg)    rotateX(0deg)}
    66%  {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)}
    100% {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);filter:grayscale(0.8)}
  }

@media (max-width:960px){
    .navbar{
        flex-direction: column;
        align-items:start;
    }
    
    .navbar-links{
        margin-left: 0%;
        gap:0.4rem;
    }
}

/* equivale al sm de bootstrap */
@media (max-width:540px){
    .next-car-button{
        margin-top:5%;
        width: 50%;
    }

    .user-info{
        gap:0rem;
    }

    .user-info button{
        width:max-content;
    }
    
    .item-list{
        padding-top: 105%;
        height: 10%;
    }

    .vi-container{
        margin-top: 10%;
        
    }

    .vi-container div{
        margin-top: 5%;
        margin-left:10%;
    }

    .photo{
        width:100%;
    }

    #contact{
        margin-top:10%;
    }
}